version: 2.1

orbs:
  node: circleci/node@5.1.0

refs:
  container: &container
    docker:
      - image: cimg/base:current
  steps:
    - &Install
      run:
        name: Install dependencies
        command: npm ci
    - &Build
      run:
        name: Build the package
        command: npm run build
    - &Generate_Typings
      run:
        name: Generate d.ts file
        command: npm run dts
    - &Lint
      run:
        name: Lint code
        command: npm run lint
    - &Lint_Commits
      run:
        name: Lint commit messages
        command: |
          npx commitlint --from main --to << pipeline.git.revision >>
    - &Test
      run:
        name: Test the package
        command: npm test
    - &Release
      run:
        name: Release a new version of the package
        command: npm run release

jobs:
  all:
    <<: *container
    steps:
      - checkout
      - node/install
      - *Install
      - *Test
      - *Lint
      - *Lint_Commits

  main:
    <<: *container
    steps:
      - checkout
      - node/install
      - *Install
      - *Test
      - *Lint
      - *Lint_Commits
      - *Build
      - *Generate_Typings
      - *Release

workflows:
  all:
    jobs:
      - all:
          filters:
            branches:
              ignore:
                - main
  main:
    jobs:
      - main:
          filters:
            branches:
              only: main
