version: 2.1

refs:
  container: &container
    docker:
      - image: node:19.1.0
  steps:
    - &Versions
      run:
        name: Display versions
        command: node -v && npm -v && yarn -v
    - &Cache_Restore
      restore_cache:
        name: Restore node modules cache
        key: yarn-packages-{{ checksum "yarn.lock" }}
    - &Install
      run:
        name: Install dependencies
        command: yarn install --immutable
    - &Cache_Save
      save_cache:
        name: Save node modules cache
        key: yarn-packages-{{ checksum "yarn.lock" }}
        paths:
          - ~/.cache/yarn
    - &Build
      run:
        name: Build the package
        command: yarn build
    - &Generate_Typings
      run:
        name: Generate d.ts file
        command: yarn dts
    - &Lint
      run:
        name: Lint code
        command: yarn lint
    - &Lint_Commits
      run:
        name: Lint commit messages
        command: |
          npx commitlint --from main --to << pipeline.git.revision >>
    - &Test
      run:
        name: Test the package
        command: yarn test
    - &Release
      run:
        name: Release a new version of the package
        command: yarn release

jobs:
  all:
    <<: *container
    steps:
      - checkout
      - *Versions
      - *Cache_Restore
      - *Install
      - *Cache_Save
      - *Test
      - *Lint
      - *Lint_Commits

  main:
    <<: *container
    steps:
      - checkout
      - *Versions
      - *Cache_Restore
      - *Install
      - *Cache_Save
      - *Test
      - *Lint
      - *Lint_Commits
      - *Build
      - *Generate_Typings
      - *Release

workflows:
  all:
    jobs:
      - all:
          filters:
            branches:
              ignore:
                - main
  main:
    jobs:
      - main:
          filters:
            branches:
              only: main
